:root {
  --primary-color: #ffffff;
  --secondary-color: #ababab;
  --tertiary-color: #efefef;
  --accent-color: #268896;
  --dark-color-1: #102022;
  --dark-color-2: #163539;
  --overlay-color: rgba(50, 78, 82, 0.5);
  --font-1: Lora, sans-serif;
  --font-2: NanumGothic, sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

body {
  background-color: var(--dark-color-1);
}

h1 {
  color: var(--primary-color);
  font-family: var(--font-1);
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

h2 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--font-1);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

h3 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--font-1);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  color: var(--primary-color);
  font-family: var(--font-1);
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  opacity: 0.9;
}

a {
  text-decoration: none;
}

p {
  font-family: var(--font-2);
}

.hero {
  background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
    url(/images/nyhavn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 250px 0;
  text-shadow: 0px 0px 25px rgba(13, 30, 45, 0.3);
}

.learn-more-button {
  font-family: var(--font-2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1;
  color: var(--dark-color-1);
  display: inline-block;
  padding: 16px 32px;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
  background: var(--primary-color);
  width: 120px;
  height: 14px;
  box-shadow: 0px 0px 25px 8px rgba(13, 30, 45, 0.3);
}

.intro-section h3 {
  color: var(--secondary-color);
  font-size: 16px;
  letter-spacing: 5px;
  text-align: left;
  margin-bottom: 10px;
}

.intro-section h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin-bottom: 18px;
}

.intro-section p {
  font-size: 18px;
  line-height: 120%;
  color: var(--tertiary-color);
}

.image-intro {
  width: 570px;
  height: 541px;
}

.boxes-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 62px;
}

.cafes-section {
  background-color: var(--dark-color-2);
}

.cafes-section h3 {
  color: var(--secondary-color);
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.cafes-section h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 18px;
}

footer {
  color: var(--primary-color);
  background-image: linear-gradient(
      rgba(22, 53, 57, 0.85),
      rgba(22, 53, 57, 0.85)
    ),
    url(/images/cph-skateboard.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 35px 20px;
  text-shadow: 0px 0px 25px rgba(13, 30, 45, 0.3);
  margin-bottom: 0;
}

.boxes-footer {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-gap: 64px;
}

footer p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--primary-color);
  font-family: var(--font-2);
  text-align: left;
  opacity: 0.75;
}

footer a {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: var(--primary-color);
  font-family: var(--font-2);
  text-align: justify;
  text-decoration: underline;
  opacity: 0.75;
}

@media (max-width: 900px) {
  .hero {
    padding: 60px 0;
  }

  section {
    padding: 50px 0;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 14px;
  }
  .learn-more-button {
    font-size: 10px;
    padding: 12px 14px;
    line-height: 1.4;
  }

  h4 {
    font-size: 14px;
  }

  footer p,
  footer a {
    font-size: 10px;
  }

  .boxes-footer {
    grid-gap: 30px;
  }

  .boxes-intro {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .box-intro {
    padding: 40px;
    width: 456px;
    display: block;
    margin: 0 auto;
  }

  .image-intro {
    width: 456px;
    height: 433px;
  }

  .intro-section h3 {
    font-size: 12px;
    text-align: center;
  }

  .intro-section h2 {
    font-size: 28px;
    text-align: center;
  }

  .intro-section p {
    font-size: 14px;
    text-align: center;
  }
}
